A:link {
	COLOR: #333333; TEXT-DECORATION: none
}

.red {
	COLOR: #ff0000
}
A:visited {
	COLOR: #333333; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
A:active {
	COLOR: #ff6600; TEXT-DECORATION: none
}
.aa2:link {
	COLOR: #c9c7c7; TEXT-DECORATION: none
}
.aa2:visited {
	COLOR: #c9c7c7; TEXT-DECORATION: none
}
.aa2:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.aa2:active {
	TEXT-DECORATION: none
}
.aa3:link {
	COLOR: #cccccc; TEXT-DECORATION: none
}
.aa3:visited {
	COLOR: #cccccc; TEXT-DECORATION: none
}
.aa3:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.aa3:active {
	TEXT-DECORATION: none
}
.aa4:link {
	COLOR: #cccccc; TEXT-DECORATION: none
}
.aa4:visited {
	COLOR: #cccccc; TEXT-DECORATION: none
}
.aa4:hover {
	COLOR: #ad1500; TEXT-DECORATION: underline
}
.aa4:active {
	TEXT-DECORATION: none
}
.font {
	LINE-HEIGHT: 26px; LETTER-SPACING: 0.05em
}
.font1 {
	COLOR: #999999; LINE-HEIGHT: 24px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: 0.1em
}
.font2 {
	COLOR: #ffffff; LINE-HEIGHT: 20px; FONT-FAMILY: "瀹浣"
}
.font3 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #ffffff
}
.font5 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #f7f3a2; LETTER-SPACING: 0.1em
}
.font6 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; LETTER-SPACING: 0.2em
}
.font7 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ad1500; LETTER-SPACING: 0.2em
}
.font8 {
	COLOR: #af1400; LINE-HEIGHT: 26px; LETTER-SPACING: 0.05em
}
.font9 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #ad1500; LETTER-SPACING: 0.2em
}
.font10 {
	FONT-SIZE: 13px; LINE-HEIGHT: 29px; LETTER-SPACING: 0.2em
}
.font11 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff
}
.font12 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #ad1500
}
.font13 {
	LINE-HEIGHT: 25px; LETTER-SPACING: 0.2em
}
.STYLE1 {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.STYLE2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #d64d00; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.STYLE3 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.SYGSJ {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; LINE-HEIGHT: 21px; FONT-FAMILY: "新宋体"
}
.GSJ {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; LINE-HEIGHT: 22px; FONT-FAMILY: "新宋体"
}
BODY {
	BACKGROUND-POSITION: center 50%; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../img/bg2.jpg); MARGIN: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
BODY {
	FONT-SIZE: 12px; COLOR: #000000
}
TD {
	FONT-SIZE: 12px; COLOR: #000000
}
TH {
	FONT-SIZE: 12px; COLOR: #000000
}
A.home:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #fe6400; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
A.home:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #fe6400; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
A.green:link {
	FONT-SIZE: 12px; COLOR: #43c2ad; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
A.green:visited {
	FONT-SIZE: 12px; COLOR: #43c2ad; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
A.green:hover {
	FONT-SIZE: 12px; COLOR: #37c7af; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
.btn_01 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 14px; BACKGROUND-IMAGE: none; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #ffffff; LINE-HEIGHT: 35px; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 32px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.btn_01 A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 14px; BACKGROUND-IMAGE: none; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #ffffff; LINE-HEIGHT: 35px; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 32px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.btn_01 A:hover {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(../images/bnt_bg.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #ffffff; LINE-HEIGHT: 35px; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 32px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.btn_01 A:visited {
	FONT-SIZE: 14px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.cpred:link {
	FONT-SIZE: 12px; COLOR: #e6e6e7; LINE-HEIGHT: 16px; TEXT-DECORATION: none
}
A.cpred:visited {
	FONT-SIZE: 12px; COLOR: #e6e6e7; LINE-HEIGHT: 16px; TEXT-DECORATION: none
}
A.cpred:hover {
	FONT-SIZE: 12px; COLOR: #e70212; LINE-HEIGHT: 16px; TEXT-DECORATION: none
}
A.red:link {
	FONT-SIZE: 12px; COLOR: #171717; LINE-HEIGHT: 16px; TEXT-DECORATION: none
}
A.red:visited {
	FONT-SIZE: 12px; COLOR: #171717; LINE-HEIGHT: 16px; TEXT-DECORATION: none
}
A.red:hover {
	FONT-SIZE: 12px; COLOR: #e70212; LINE-HEIGHT: 16px; TEXT-DECORATION: none
}
A.ssred:link {
	FONT-SIZE: 13px; COLOR: #e6e6e7; LINE-HEIGHT: 16px; TEXT-DECORATION: none
}
A.ssred:visited {
	FONT-SIZE: 13px; COLOR: #e6e6e7; LINE-HEIGHT: 16px; TEXT-DECORATION: none
}
A.ssred:hover {
	FONT-SIZE: 13px; COLOR: #e70212; LINE-HEIGHT: 16px; TEXT-DECORATION: none
}
A.tpred:link {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 16px; TEXT-DECORATION: none
}
A.tpred:visited {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 16px; TEXT-DECORATION: none
}
A.tpred:hover {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 16px; TEXT-DECORATION: none
}
A.line:link {
	FONT-SIZE: 13px; COLOR: #000000; LINE-HEIGHT: 20px; TEXT-DECORATION: underline
}
A.line:visited {
	FONT-SIZE: 13px; COLOR: #000000; LINE-HEIGHT: 20px; TEXT-DECORATION: underline
}
A.line:hover {
	FONT-SIZE: 13px; COLOR: #8e4b05; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
A.blue:link {
	FONT-SIZE: 12px; COLOR: #3399ff; LINE-HEIGHT: 20px
}
A.blue:visited {
	FONT-SIZE: 12px; COLOR: #3399ff; LINE-HEIGHT: 20px
}
A.blue:hover {
	FONT-SIZE: 12px; COLOR: #8e4b05; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
.style1 {
	COLOR: #ffffff
}
.hui {
	COLOR: #cccccc
}
.t {
	BORDER-RIGHT: #acb0b1 1px solid; BORDER-TOP: #acb0b1 1px solid; BORDER-LEFT: #acb0b1 1px solid; BORDER-BOTTOM: #acb0b1 1px solid
}
.v {
	BORDER-RIGHT: #535454 1px solid; BORDER-TOP: #535454 1px solid; BORDER-LEFT: #535454 1px solid; BORDER-BOTTOM: #535454 1px solid
}
.wenbenkuang {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #999999 1px solid; WIDTH: 120px; COLOR: #333333; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: "宋体"
}
.wenbenkuang1 {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #999999 1px solid; WIDTH: 90px; COLOR: #333333; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: "宋体"
}
.submit1 {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 18px; BACKGROUND-COLOR: #efefef
}
.search {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 18px; BACKGROUND-COLOR: #ffffff
}
.submit2 {
	BORDER-RIGHT: 0px; BACKGROUND-POSITION: center 50%; BORDER-TOP: 0px; BACKGROUND-IMAGE: url(../images/submit.jpg); BORDER-LEFT: 0px; WIDTH: 80px; BORDER-BOTTOM: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 30px
}
.strong {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 20px
}
.go-wenbenkuang {
	BORDER-RIGHT: #a2a2a2 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 9pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #ffffff 1px solid; WIDTH: 10px; CURSOR: hand; COLOR: #333333; PADDING-TOP: 1px; BORDER-BOTTOM: #a2a2a2 1px solid; FONT-FAMILY: "宋体"; HEIGHT: 19px; BACKGROUND-COLOR: #eeeeee
}

.imgborder {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid
}
A.BRSS:link {
	FONT-SIZE: 12px; COLOR: #b1afaf; LINE-HEIGHT: 28px; FONT-FAMILY: "新宋体"; TEXT-DECORATION: none
}
A.BRSS:visited {
	FONT-SIZE: 12px; COLOR: #b1afaf; LINE-HEIGHT: 28px; FONT-FAMILY: "新宋体"; TEXT-DECORATION: none
}
A.BRSS:hover {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 28px; FONT-FAMILY: "新宋体"
}
A.BRSS:unknown {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 28px; FONT-FAMILY: "新宋体"
}


